@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';
@import './theme.css';
@import './custom.css';

@font-face {
    font-family: 'Albra Grotesk';
    src: url('/public/fonts/albra-grotesk.otf');
}

@font-face {
    font-family: 'Albra';
    src: url('/public/fonts/albra.otf');
}

.font-albra {
    font-family: 'Albra';
}

.font-albra-grotesk {
    font-family: 'Albra Grotesk';
}

html {
    font-size: 14px;
}

body {
    font-family: 'Albra Grotesk' !important;
    margin: 0;
    padding: 0;
}

.p-component {
    font-family: 'Albra Grotesk' !important;
}

